.filter-box .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 4px 15px;
}

.filter-box .btn-group .btn {
    border-radius: 0;
    /* margin-left: -1px; */
    height: 34px;
    margin: -1px 0 0 -1px;
    line-height: 13px;
}

.filter-box .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;

}

.filter-box label {
    font-size: 13px;
}

.filter-box input, .filter-box select  {
    font-size: 13px;
    /* height: 25px; */
}


.filter-box .search-box-style {
    padding: 9px;
    border: solid 1px #408080;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #A4FFA4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #A4FFA4 1px, #FFFFFF 25px);
    box-shadow: rgba(0,64,64, 0.3) 0px 0px 8px;
    -moz-box-shadow: rgba(0,64,64, 0.3) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,64,64, 0.3) 0px 0px 8px;;
    }

@media screen and (min-width: 768px) {
    #boot-search-box {
        /* width: 500px; */
        width: 100%;
        margin: 0 auto;
    }
    .filter-box .dropdown.dropdown-lg {
        position: static !important;
    }
    .filter-box .dropdown.dropdown-lg .dropdown-menu {
        /* min-width: 500px; */
        min-width: 708%;
    }
}
